
 @import "base/_variables.scss";

//  sign up and view

.gradient {
    background-image: linear-gradient(to top, rgba(28,26,38, 0.9), 
    rgba(0, 0, 0, 0.3)) ,
    linear-gradient(to bottom, rgba(28,26,38, 0.9), 
    rgba(0, 0, 0, 0.3));
    height: 600px;
}
.display-background-img {
  height: 600px;
}



.displayed-anime{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "anime title . icon"
    "anime body1 body1 body1"
    "anime . . ."
    "anime . . .";
    width: 700px;
    margin: auto;
    padding-top: 220px;
    height: 380px;
    h1  {
       font-size:  25px;
    }
}

.display-anime-name {
    grid-area: title;
}

.display-anime-photo {
    grid-area: anime;
    justify-self: end;
    margin-right: 20px;
    img  {
        width: 240px;
        height: 340px;
         box-shadow: 2px 1px 5px 1px black;
    }
}

.display-body {
    grid-area: body1;

}






// anime show

.gradient-show {
    background-image: linear-gradient(to top, rgba(28,26,38, 1), 
    rgba(37, 35, 35, 0.4));
    height: 400px;
}
.display-backgrouncd-img-show {
  height: 400px;
  
}

.display-background-img-signup {
    height: 400px;
    margin-bottom: 200px;
}

.displayed-anime-show{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "anime title title icon"
    "anime body2 body2 body2"
    "anime . . ."
    "anime . button  .";
    width: 900px;
    margin: auto;
    padding-top: 200px;
    // margin-top: $nav-bar-height;
    h1  {
       font-size:  40px;
    }
}

.display-anime-name-show {
    grid-area: title;
}

#watchlist-button {
    grid-area: button;
    border: 2px solid $vrv-yellow;
    text-align: center;
    height: 60px;
    color: $vrv-yellow;
    &:hover{
        color: rgb(28,26,38);
        background: $vrv-yellow;
        font-weight: 600;
    }
}

.display-anime-photo-show {
    grid-area: anime;
    justify-self: end;
    margin-right: 40px;
    img  {
        width: 220px;
        height: 350px;
   
    }
}

.display-body-show {
    grid-area: body2;

}

.display-episode {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    &:hover {
        filter: $filter
    }
   
    img {
        width: 500px;
  
    }
    a {
        display: flex;
         width: fit-content;
         margin-right: 0;
        div {
            width: 500px;
            background-color:#211d35 ;
            display: flex;
            flex-direction: column;
            padding-left: 30px;
            h1 {
                font-size: 20px;
            }
            p {
                color: $vrv-gray;
            }

        
    }
    
    }
}

.anime-grid {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 30px;
    margin: auto;
    .anime-grid-img{
        width: 110px;
        height: 160px;
        position: absolute;
        bottom: 12%;
        left: 10%;
        box-shadow: 1px 1px 5px 1px black;
    }
    .anime-grid-bkg-img{
        background-size: contain;
        width: 300px;
        height: 270px;
        position: relative;
       display: flex;
        align-items: flex-end;
        
    }
    .lower-div {
        margin-top: 15px;
        background-color: rgb(48, 45, 70);
        height: 101px;
        width: 100%;
    
    }
    h1 {  
        margin: 0 auto;
        padding-left: 50px ;
        width: 100px;
        font-weight: 600;
        overflow: hidden;
        height: 100px;
    }
}

 .anime-selector-grid {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-gap: 30px;
    margin: auto;
    .anime-grid-img{
        width: 110px;
        height: 160px;
        position: absolute;
        bottom: 12%;
        left: 10%;
        box-shadow: 1px 1px 5px 1px black;
    }
    .anime-grid-bkg-img{
        background-size: contain;
        width: 300px;
        height: 270px;
        position: relative;
       display: flex;
        align-items: flex-end;
        
    }
    .lower-div {
        margin-top: 15px;
        background-color: rgb(58, 55, 85);
        height: 101px;
        width: 100%;
    
    }
    h1 {  
        margin: 0 auto;
        padding-left: 50px ;
        width: 100px;
        font-weight: 600;
        overflow: hidden;
        height: 100px;
    }

 }