   @import "base/_variables.scss";
.video {
    position: relative;
    z-index: 0;
    max-width: 100%;
    margin-top: $nav-bar-height;
    background-image:
    linear-gradient(to right, rgba(28,26,38, 1), rgba(0, 0, 0, 0.6)),
    url('background-images/background-img.jpg');
    display: flex;
    justify-content: center;
    #video {
        width: 500;
        height: 600
    }
}


.displayed-episode-show{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "anime title title icon"
    "anime body2 body2 body2"
    "anime . . ."
    "anime . button  .";
    width: 900px;
    margin: auto;
    padding-top: 10px;
    // margin-top: $nav-bar-height;
    h1  {
       font-size:  40px;
    }

    .watchlist-button {
        grid-area: button;
    }
}

.gradient-episode {
    background-image:
     linear-gradient(to top, rgba(28,26,38, 1), 
    rgba(28,26,38, 0.8));
    height: 400px;
}

#toggle-button {
    position: fixed;
    z-index: 10;
    top: 0%;
    left: 1%;
    border: 2px solid $vrv-yellow;
    text-align: center;
    height: 60px;
    color: $vrv-yellow;
    &:hover{
        color: rgb(28,26,38);
        background: $vrv-yellow;
        font-weight: 600;
    }
}

.actual-video {
    max-width: 70%;
}
