   @import "base/mixins.scss";
   @import "base/_variables.scss";


.signup-form-box{
    background-color: rgba(48, 46, 66,0.7);
   
    display: flex;
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    grid-column-start: 2;
    justify-self: end;
    grid-row-end: 1;
    height: 400px;
    width: 400px;
   margin-top: 40px;
    box-shadow:  0 0 1rem 2px black;
        div > p > button{  
            font-size: 15px;
             color: rgb(44, 113, 240);
         &:hover{
        filter: brightness(120%);
        }
    }
   
    
}

.home-details {
    grid-row-end: 1;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    width: 500px;
}

.home-details p {
    color: white;
}

.home-container {
    margin-top: 80px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-columns: repeat(auto-fill, minmax(100px, 1000px));
    grid-template-rows: 10% 80% 10%;
    align-items: center;
    background-image:
    linear-gradient(to right, rgba(28,26,38, 1), rgba(0, 0, 0, 0.8)),
    url('background-images/background-img.jpg');
}

.signup-form-box span {
    // display: block;
    font-size: 20px;
}

.home-details h2 {
    font-size: 50px;
    text-align: left;
    color: $vrv-yellow;
    border-bottom: 10px;
}


.signup-form-box p {
    padding-left: 60px;
    
}

.signup-form-box h2 {
    font-size: 20px;
    color: white;
}

.signup-form-box form {
    display: block;
}

.signup-form-box label, .signup-form-box input {
     color: white;
    
}

button:hover {
    cursor: pointer;
}

input {
    border-bottom: 2px solid white;
    display: block;
    width: 250px
}

body {
    background-color: rgb(28,26,38);
    color: white;
}

// button:hover {
//     filter: brightness(140%);
// }

.signup-form-box > form > p > button{
    @include button;
}

.yellow-button {
    background-color:$vrv-yellow;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    margin: 20px 0 20px 0;
    color: black;
}

#privacy {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: end;
    margin-top: 30px;
    margin-left: 200px;
    width: 400px;
    color: white;
    text-align: center;
    margin-right: 100px;
}













