 @import "base/_variables.scss";

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color:  rgb(28,26,38);
    position: fixed;
    top: 0;
    height: $nav-bar-height;
    width: 100%;
    border-bottom: 2px solid $vrv-yellow;
    z-index: 9;
    .right-side {
        display: flex;
    }
}
.nav-bar-profile-button {
    width: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
     color: $vrv-gray;
    img {
        border-radius: 60%;
        width: 50px;
        height: 40px;
    }
    &:hover{
        filter: $filter;
        cursor: pointer
    }
}

.nav-bar-search-button{
    width: 80px;
    font-size: 20px;
    text-align: center;
    color: $vrv-gray;
    padding-top: 13px;
    border-right: 1px solid $vrv-gray;
     &:hover{
        filter: $filter;
        cursor: pointer
    }
}

.nav-bar-watchlist-button {
    width: 80px;
    border-right: 1px solid $vrv-gray;
    border-left: 1px solid $vrv-gray;
    &:hover{
    filter: brightness(120%);
}

    img {
        width: 20px;
        margin-top: 20px;
        margin-left: 30px

    }
    
}

.logo {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        filter: $filter;
    }
    img {
        width: 50px
    }
    h1 {
        font-size: 61x;
        font-weight: 1000;
    }
}
