.footer {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    h1 {
        font-size: 20px;
        font-weight: 700;
    }
}

// .contact {
//     display: flex;
//     flex-direction: column;
//     justify-content: center
// }
// .profiles {
//     display: flex;
//      flex-direction: column;
//     justify-content: center
// }

